<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
	<logging>
		<log type="coverage-text" target="php://stdout" />
		<log type="coverage-html" target="coverage/" />
	</logging>
	<testsuites>
		<testsuite name="Pineapple test suite">
			<directory>./test/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src/</directory>
		</whitelist>
		<blacklist>
			<directory suffix=".php">./test/</directory>
		</blacklist>
	</filter>
</phpunit>
