<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
	<logging>
		<testdoxHtml outputFile="coverage/coverage.html"/>
	</logging>
	<testsuites>
		<testsuite name="Pineapple test suite">
			<directory>./test/</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src/</directory>
		</include>
		<exclude>
			<directory suffix=".php">./test/</directory>
		</exclude>
	</coverage>
</phpunit>
